* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.home-header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fancyTable {
    border-collapse: collapse;
    width: 100%;
}

.fancyTable td, .fancyTable th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.fancyTable tr:nth-child(even) {
    background-color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
}

.fancyTable tr:hover {
    background-color: #ddd;
    text-align: center;
    vertical-align: middle;

}

.fancyTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    vertical-align: middle;
    background-color: #0069af;
    color: white;
}

.fancyButton {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.addButton {
    background-color: #319c3e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.updateButton {
    background-color: #bfbb3b;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 8px;
    margin: 4px 2px;
    cursor: pointer;
}

.deleteButton {
    background-color: #c60b00;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 8px;
    margin: 4px 2px;
    cursor: pointer;
}

.fancyInput[type=text], select {
    /*width: 100%;*/
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.fancySelect {
    font-size: 16px;
    padding: 20px;
}

.error {
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 20%;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    color: #D8000C;
    background-color: #FFBABA;
}

.home-grid {
    width: 20%;
    padding: 1%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-auto-rows: 100px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
